* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1 ;
    color: #ffffff;
}

ul {
    display: flex;
}

#banner {
    background-image:url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.banner-text h1 {
    font-size: 70px;
    color: #ffffff;
    text-shadow: 0px 2px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner-text h2 {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0px 2px 0px #555555;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    max-width: 350px;
} 

.banner-options {
    display: flex;
    height: 210px;
}

#banner-options1 {
    background-color: #39aae1;
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

#banner-options2 {
    background-color: #0079c7;
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

#banner-options3 {
    background-color: #2b4c99;
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner-title {
    font-size: 21px;
}

.option-desc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}

.hours-option {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-top: 7px;
}

.day-hours {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid #39aae1;
}

#geral {
    display: flex;
    justify-content: center;
}

.news-area {
    flex: 2;
}

.departments {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget-title-bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news-data {
    display: flex;
}

.news-posted {
    color: #ffffff;
    font-size: 12px;
    background-color: #2b4c99;
    padding: 10px;
}

article .news-coments {
    padding: 10px;
    color: #ffffff;
    font-size: 12px;
    background-color: #99aae1;
    margin-left: 2px;
}

article .news-thumb img {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

article .news-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000000;
}

article .news-resume {
    font-size: 13px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

.widget-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

a .widget-body-blocks {
    text-decoration: none;
}

.widget-body-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    min-width: 125px;
    min-height: 125px;
    background-color: blue;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.widget-appoint-text {
    font-size: 13px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

.widget-appoint-notes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

.appointments {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid #000000;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.flexColumn {
    flex-direction: column;
}

.footer-menu {
    display: flex;
}

.fm-1, .fm-2, .fm-3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.fm-1 {
    background-color: #39aae1;
}

.fm-2 {
    background-color: #0079c7;
}

.fm-3 {
    background-color: #2b4c99;
}

.footer-area {
    background-color: #1e1e1e;
    display: flex;
    color: white;
    flex: 1;
}

.f-area {
    flex-direction: column;
    display: flex;
    flex: 1;
}

.option-desc-footer {
    margin-top: 10px;
    font-size: 13px;
}

.area1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ba1 {
    flex: 1;
    font-size: 12px;
    color: #cccccc;
}
.ba2 a {
    text-decoration: none;
    color: #ffffff;
}
.ba2 {
    color: #cccccc;
    font-size: 12px;
    display: flex;
    flex: 1;
    margin-top: 0;
}

.ba2-1, .ba2-2 {
    flex: 1;
}

.widget-body-list {
    color: #cccccc;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 12px;
}

.list-1, .list-2, .list-3 {
    flex: 1;
    margin-top: 8px;
}

.widget-body-list p {
    font-size: 10px;
    color: #36a9e1;
}

.f-area .widget-title-text {
    color: #ffffff;
}


.footer-copy {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex: 1;
    border-top: 1px solid #2c2c2c;
}

.footer-copy p {
    color: #5c5c5c;
    font-size: 12px;
}

.footer-copy a {
    color: white;
    text-decoration: none;
}